@{
    ViewBag.Title = "Notices";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model BBSProject.WebUI.Areas.Admin.Models.NoticeViewModel
@section Head{
    <link href="~/ueditor/themes/iframe.css" rel="stylesheet" />
    <script src="~/ueditor/ueditor.config.js"></script>
    <script src="~/ueditor/ueditor.all.js"></script>
    <script src="~/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        var grid; var texteditor; var addpanel;
        var addtexteditor;
        $(function () {
            grid = $("#noticeslistgrid").ligerGrid({
                checkBox: false,
                height: '99%',
                allowUnSelectRow: false,
                columns: [
                    {
                        display: 'NoticeID', name: 'NoticeID', hide: true,
                        width: 100, editor: { type: 'text' }
                    },
                    {
                        display: '标  题', name: 'NoticeTitle',
                        width: 200, editor: { type: 'text' }
                    },
                    {
                        display: '发布时间', name: 'PublishTime', type: 'date', format: 'yyyy-MM-dd hh:mm:ss',
                        width: 200, editor: { type: 'text' }
                    },
                    {
                        display: '失效时间', name: 'ExpiredTime', type: 'date', format: 'yyyy-MM-dd hh:mm:ss',
                        width: 200, editor: { type: 'date' }
                    },
                    {
                        display: '发布状态', name: 'PublishStateName',
                        width: 100, editor: { type: 'text' }
                    },
                    {
                        display: '状  态', name: 'UsedName',
                        width: 100, editor: { type: 'text' }
                    },
                    {
                        display: '发布人', name: 'PublishUserName',
                        width: 100, editor: { type: 'text' }
                    },
                    {
                        display: 'PublishState', name: 'PublishState', hide: true,
                        width: 100, editor: { type: 'text' }
                    },
                    {
                        display: 'IsUsed', name: 'IsUsed', hide: true,
                        width: 100, editor: { type: 'text' }
                    }
                ],
                url: '/Admin/NoticeNews/getnoticeslist',
                rownumbers: true,
                pageSize: 200,
                pageSizeOptions: [200, 300, 400],
                enableEdit: false,
                detailToEdit: false,
                forzen: false,
                isScroll: true,
                dataAction: 'server',
                Width: '99%',
                onSelectRow: function (rowdata, rowindex) {
                    
                }
            });
            $("#pageloading").hide();
            $("#datetxt").ligerDateEditor({
                format: 'yyyy-MM-dd hh:mm:ss',
                showTime: true,
                cancelable: true,
                width: 160
            });
            texteditor = UE.getEditor('noticecontent');
            $("#addsysuserbtn").click(function () {
                if (addpanel == null) {
                    addpanel = $.ligerDialog.open({
                        target: $("#addnoticepanel"),
                        width: 780,
                        height: 520,
                        title: '添加新账户',
                        buttons: [
                            { text: '发布公告', onclick: function (item, dialog) { addnotice(item, dialog); } },
                            { text: '取消', onclick: function (item, dialog) { dialog.close(); } }
                        ]
                    });
                }
                else { addpanel.show(); }
            });
            $("#unablesysuserbtn").click(function () {
                var row=grid.getSelectedRow();
                if(row==null)
                {
                    $.ligerDialog.warn("请选择需要撤销的公告");
                    return;
                }
                $.ligerDialog.confirm("确定要撤销此条公告吗？",function(yes){
                    if(yes)
                    {
                        var noticeid=row.NoticeID;
                        $.ajax({
                            url:"/Admin/NoticeNews/deleteNotice",
                            datatype:"json",
                            type:"POST",
                            data:{"noticesid":noticeid},
                            async:true,
                            success:function(data){
                                if (data == "1") {
                                    $.ligerDialog.success("发布成功！");
                                    grid.reload();

                                }
                                else {
                                    $.ligerDialog.warn("发布失败！");
                                }
                            }
                        });
                    }
                });
            });
        });
        function addnotice(item, dialog) {
            //获取标题
            var publishstate = 200;
            var title = $("#noticetitle").val();
            if (title == '') {
                $.ligerDialog.warn("请务必填写公告标题");
                return;
            }
            var expiredtime = $("#datetxt").val();
            var noticecentent = texteditor.getContent();
            if ($("#isDraft").attr("checked") == "checked") {
                publishstate = 100;
            }
            var model = {
                NoticeTitle: title,
                NoticeContent: noticecentent,
                ExpiredTime: expiredtime,
                PublishState: publishstate
            };
            $.ajax({
                url: "/Admin/NoticeNews/addNotice",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(model),
                datatype: "json",
                type: "post",
                async: true,
                processData: false,
                success: function (data) {
                    if (data == "1") {
                        $.ligerDialog.success("发布成功！");
                        grid.reload();

                    }
                    else {
                        $.ligerDialog.warn("发布失败！");
                    }
                }
            });
            dialog.hide();
        }
    </script>
}

<table style="margin:0px;width:95%;height:95%;">
    <tbody>
        <tr style="height:20px;border:0px;">
            <td>
                系统公告管理
            </td>
        </tr>
        <tr style="height:100px;text-align:right;border:0px;">
            <td>
                @{
                    foreach (var item in Model.sysusermodular)
                    {
                        if (item.ModularName.Contains("发布"))
                        {
                <input type="button" id="addsysuserbtn" value="发布公告" />
                        }
                        else if (item.ModularName.Contains("撤销"))
                        {
                <input type="button" id="unablesysuserbtn" value="撤销公告" />
                        }
                        else if (item.ModularName.Contains("修改"))
                        {
                <input type="button" id="updatesysuserbtn" value="修改公告" />
                        }
                    }
                }
            </td>

        </tr>
        <tr>
            <td>
                <div class="l-loading" style="display:block" id="pageloading"></div>
                <div class="l-clear"></div>
                <div id="noticeslistgrid"></div>
                <div style="display:none;">
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div id="addnoticepanel" style="width:99%;height:99%;display:none">
    <table style="width:740px;height:460px;margin:0px;">
        <tr style="height: 30px;">
            <td style="vertical-align:top;text-align:left;" colspan="2">标 题<label style="color:red">*</label>&nbsp;&nbsp;<input type="text" style="width:300px;" id="noticetitle" /></td>
        </tr>
        <tr style="height: 30px;">
            <td style="vertical-align:middle;text-align:left;width:80px;">失效时间：</td>
            <td><input data-type="date" data-name="datetxt" id="datetxt" style="width:300px" /><input type="checkbox" id="isDraft" style="float:left" />存为草稿</td>
        </tr>
        <tr>
            <td style="vertical-align:top;text-align:left;" colspan="2">
                <script id="noticecontent" type="text/plain">
                </script>
            </td>
        </tr>
    </table>
</div>