@{
    ViewBag.Title = "系统用户组管理";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using BBSProject.WebUI.Areas.Admin.Models;
@model UserGroupViewModel
@section Head{

}
<table>
    <tr>
        <td>

        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>
